@font-face {
    font-family: Geist;
    src: url('Geist/Geist-Light.otf');
    font-weight: 100;
}

@font-face {
    font-family: Geist;
    src: url('Geist/Geist-Medium.otf');
    font-weight: 200;
}

@font-face {
    font-family: Geist;
    src: url('Geist/Geist-Regular.otf');
    font-weight: 300;
}

@font-face {
    font-family: Geist;
    src: url('Geist/Geist-Bold.otf');
    font-weight: 400;
}

@font-face {
    font-family: Geist;
    src: url('Geist/Geist-Black.otf');
    font-weight: 500;
}

@font-face {
    font-family: PDBoldItalic;
    src: url('PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf');
}

html body {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Geist', sans-serif;
    font-weight: 100;
    background-color: #181716;
    color: #F3F6F4;
}

p {
    font-family: 'Geist';
    font-weight: 100;
}

footer {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    font-weight: 300;
    font-size: 10px;
    border-radius: 10px;

    backdrop-filter: blur(6px);
}

h1 {
    font-weight: 500;
    font-size: 10vw;
    margin: 0;
    font-family: 'PDBoldItalic';
}

a {
    color: #F3F6F4;
}

main {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    text-decoration: underline;
  }